# Environment variables
.env

# Asset files
**/assets/
**/output/
**/overlays/
*.png
*.csv

# Environment variables
.env

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
._*

# Build artifacts
node_modules/
__pycache__/
